In [2]:
import pandas as pd
from utils import get_path
from datatable import dt, f

In [5]:
output_counts = get_path('GESTANTES', 'contagens.csv.gzip')
# df_counts = dt.fread(output_counts)
df_counts = pd.read_csv(output_counts, dtype={'identificador': str})
df_counts

,bienio,parto_normal,codigo,escala,nome,identificador,criticidade,count,total,percent
0,0,0,CO,regiao,Centro-Oeste,CO,0,85068,445888,19.078334
1,1,0,CO,regiao,Centro-Oeste,CO,0,100995,445888,22.650307
2,0,1,CO,regiao,Centro-Oeste,CO,0,141604,445888,31.757751
3,1,1,CO,regiao,Centro-Oeste,CO,0,118221,445888,26.513609
4,0,0,CO,regiao,Centro-Oeste,CO,1,8372,51491,16.259152
...,...,...,...,...,...,...,...,...,...,...
93060,1,0,SL/SC/42016/421870/2491710,cnes,NaN,2491710,2,59,207,28.502415
93061,0,1,SL/SC/42016/421870/2491710,cnes,NaN,2491710,2,14,207,6.763285
93062,1,1,SL/SC/42016/421870/2491710,cnes,NaN,2491710,2,125,207,60.386473
93063,1,1,SL/SC/42016/421870/2491710,cnes,NaN,2491710,3,2,2,100.000000
93064,1,1,SL/SC/42016/421870/2491710,cnes,NaN,2491710,4,2,2,100.000000

In [7]:
df_counts[df_counts['codigo'].str.contains('/RJ')]

,bienio,parto_normal,codigo,escala,nome,identificador,criticidade,count,total,percent
530,0,0,SD/RJ,uf,Rio de Janeiro,RJ,0,31475,338465,9.299337
531,1,0,SD/RJ,uf,Rio de Janeiro,RJ,0,64571,338465,19.077600
532,0,1,SD/RJ,uf,Rio de Janeiro,RJ,0,126306,338465,37.317300
533,1,1,SD/RJ,uf,Rio de Janeiro,RJ,0,116113,338465,34.305763
534,0,0,SD/RJ,uf,Rio de Janeiro,RJ,1,7153,73487,9.733694
...,...,...,...,...,...,...,...,...,...,...
84206,0,0,SD/RJ/33009/330590/3584968,cnes,HOSPITAL FRANCISCO LIMONGI,3584968,0,4,49,8.163265
84207,0,1,SD/RJ/33009/330590/3584968,cnes,HOSPITAL FRANCISCO LIMONGI,3584968,0,39,49,79.591837
84208,1,1,SD/RJ/33009/330590/3584968,cnes,HOSPITAL FRANCISCO LIMONGI,3584968,0,6,49,12.244898
84209,1,1,SD/RJ/33009/330590/3584968,cnes,HOSPITAL FRANCISCO LIMONGI,3584968,1,1,1,100.000000
84210,1,1,SD/RJ/33009/330590/3584968,cnes,HOSPITAL FRANCISCO LIMONGI,3584968,2,1,1,100.000000