In [1]:
import pandas as pd
from utils import get_path
from datatable import dt, f

In [14]:
output_deslc = get_path('GESTANTES', 'deslocamentos.csv.gzip')
df_deslc = pd.read_csv(output_deslc)
df_deslc

,bienio,parto_normal,origem,destino,mun_diff,regsau_diff,distancia,tempo,regiao,uf,...,capital,socioecon,latitude,longitude,hosp_latitude,hosp_longitude,hosp_cnes,hosp_regiao_saude,hosp_uf,count
0,0,1,355030,355030,0,0,0.0000,0.000000,SD,SP,...,1,5,-23.548,-46.636,-23.548,-46.636,2077701,3501,SP,76
1,0,1,130260,130260,0,0,0.0000,0.000000,NT,AM,...,1,4,-3.102,-60.025,-3.102,-60.025,3004104,1301,AM,74
2,0,1,120040,120040,0,0,0.0000,0.000000,NT,AC,...,1,2,-9.975,-67.810,-9.975,-67.810,2000733,1201,AC,73
3,0,1,160030,160030,0,0,0.0000,0.000000,NT,AP,...,1,2,0.039,-51.066,0.039,-51.066,2020068,1601,AP,73
4,0,1,150180,150180,0,0,0.0000,0.000000,NT,PA,...,0,1,-1.682,-50.480,-1.682,-50.480,2418657,1508,PA,73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123865,1,1,315980,270430,1,1,2275.6718,28.283556,SD,MG,...,0,5,-18.839,-50.121,-9.666,-35.735,9923837,2701,AL,1
123866,1,1,350400,270430,1,1,2599.6191,31.918583,SD,SP,...,0,4,-22.662,-50.412,-9.666,-35.735,9923837,2701,AL,1
123867,1,1,351880,270430,1,1,2404.7096,29.901278,SD,SP,...,0,4,-23.463,-46.533,-9.666,-35.735,9923837,2701,AL,1
123868,1,1,354100,270430,1,1,2490.4019,31.241472,SD,SP,...,0,4,-24.006,-46.403,-9.666,-35.735,9923837,2701,AL,1
123869,1,1,510623,270430,1,1,3217.7273,39.940667,CO,MT,...,0,2,-14.797,-57.288,-9.666,-35.735,9923837,2701,AL,1

In [15]:
df_deslc.to_excel(output_deslc.replace('csv.gzip', 'xlsx'), index=False)

In [4]:
df_deslc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97665 entries, 0 to 97664
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   bienio             97665 non-null  int64
 1   parto_normal       97665 non-null  int64
 2   origem             97665 non-null  int64
 3   destino            97665 non-null  int64
 4   mun_diff           97665 non-null  int64
 5   regsau_diff        97665 non-null  int64
 6   distancia          97665 non-null  float64
 7   tempo              97665 non-null  float64
 8   regiao             97665 non-null  object
 9   uf                 97665 non-null  object
 10  regiao_saude       97665 non-null  int64
 11  capital            97665 non-null  int64
 12  socioecon          97665 non-null  int64
 13  latitude           97665 non-null  float64
 14  longitude          97665 non-null  float64
 15  hosp_latitude      97665 non-null  float64
 16  hosp_longitude     97665 non-null  float64
 17  hosp_regiao_saude  97665 non-null  int64
 18  count              97665 non-null  int64
dtypes: float64(6), int64(11), object(2)
memory usage: 14.2+ MB

In [13]:
df_deslc['count'].sum()

1350318

In [6]:
regioes = df_deslc['regiao'].unique()
regioes

array(['Sudeste', 'Nordeste', 'Norte', 'Centro-Oeste', 'Sul'],
      dtype=object)

In [7]:
desc_regiao = dict()
for regiao in regioes:
  desc_regiao[regiao] = df_deslc[df_deslc['regiao'] == regiao]

In [8]:
desc_regiao[regioes[0]]

,bienio,parto_normal,origem,destino,mun_diff,regsau_diff,distancia,tempo,regiao,uf,regiao_saude,capital,socioecon,latitude,longitude,hosp_latitude,hosp_longitude,hosp_regiao_saude,count
0,0,1,355030,355030,0,0,0.0000,0.000000,Sudeste,SP,3501,1,5,-23.548,-46.636,-23.548,-46.636,3501,2368
1,0,0,355030,355030,0,0,0.0000,0.000000,Sudeste,SP,3501,1,5,-23.548,-46.636,-23.548,-46.636,3501,2020
2,0,1,330455,330455,0,0,0.0000,0.000000,Sudeste,RJ,3305,1,5,-22.903,-43.208,-22.903,-43.208,3305,1210
3,0,0,330455,330455,0,0,0.0000,0.000000,Sudeste,RJ,3305,1,5,-22.903,-43.208,-22.903,-43.208,3305,872
14,0,1,310620,310620,0,0,0.0000,0.000000,Sudeste,MG,3101,1,1,-19.817,-43.956,-19.817,-43.956,3101,466
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97494,1,1,313440,521150,1,1,274.7725,3.272722,Sudeste,MG,3113,0,3,-19.728,-50.196,-18.420,-49.218,5216,1
97552,1,1,330100,521760,1,1,1232.6051,15.700639,Sudeste,RJ,3307,0,5,-21.754,-41.324,-15.453,-47.614,5206,1
97625,1,1,353730,522040,1,1,356.4371,5.702722,Sudeste,SP,3506,0,3,-21.420,-50.078,-18.991,-50.544,5213,1
97626,1,1,354340,522040,1,1,449.7193,6.066944,Sudeste,SP,3518,0,5,-21.178,-47.810,-18.991,-50.544,5213,1
97640,1,1,312950,522045,1,1,598.9450,7.536861,Sudeste,MG,3113,0,3,-19.478,-46.539,-16.708,-49.093,5202,1

In [9]:
desc_regiao[regioes[0]].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26527 entries, 0 to 97640
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   bienio             26527 non-null  int64
 1   parto_normal       26527 non-null  int64
 2   origem             26527 non-null  int64
 3   destino            26527 non-null  int64
 4   mun_diff           26527 non-null  int64
 5   regsau_diff        26527 non-null  int64
 6   distancia          26527 non-null  float64
 7   tempo              26527 non-null  float64
 8   regiao             26527 non-null  object
 9   uf                 26527 non-null  object
 10  regiao_saude       26527 non-null  int64
 11  capital            26527 non-null  int64
 12  socioecon          26527 non-null  int64
 13  latitude           26527 non-null  float64
 14  longitude          26527 non-null  float64
 15  hosp_latitude      26527 non-null  float64
 16  hosp_longitude     26527 non-null  float64
 17  hosp_regiao_saude  26527 non-null  int64
 18  count              26527 non-null  int64
dtypes: float64(6), int64(11), object(2)
memory usage: 4.0+ MB

In [10]:
df_deslc['uf'].value_counts()

MG    11715
SP    10539
BA     9845
PE     7320
RS     6471
MA     5352
PR     5322
SC     4266
PA     4134
PB     3667
CE     3581
GO     3478
PI     3225
RN     3098
RJ     2485
MT     2161
TO     2146
AL     1886
ES     1788
SE     1262
MS     1261
RO     1141
AM      832
AC      291
AP      228
RR      171
Name: uf, dtype: int64

In [11]:
df_deslc[df_deslc['uf'] == 'MG'].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11715 entries, 14 to 97640
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   bienio             11715 non-null  int64
 1   parto_normal       11715 non-null  int64
 2   origem             11715 non-null  int64
 3   destino            11715 non-null  int64
 4   mun_diff           11715 non-null  int64
 5   regsau_diff        11715 non-null  int64
 6   distancia          11715 non-null  float64
 7   tempo              11715 non-null  float64
 8   regiao             11715 non-null  object
 9   uf                 11715 non-null  object
 10  regiao_saude       11715 non-null  int64
 11  capital            11715 non-null  int64
 12  socioecon          11715 non-null  int64
 13  latitude           11715 non-null  float64
 14  longitude          11715 non-null  float64
 15  hosp_latitude      11715 non-null  float64
 16  hosp_longitude     11715 non-null  float64
 17  hosp_regiao_saude  11715 non-null  int64
 18  count              11715 non-null  int64
dtypes: float64(6), int64(11), object(2)
memory usage: 1.8+ MB

In [12]:
# df_deslc.to_pandas().to_excel(output_deslc.replace('csv.gzip', 'xlsx'), index=False)